<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>demo form</h1>

    <form action="saveData"  method="post">
        <pre>
            enter your Email : <input type="text" name="email"></pre><br>
enter your Name : <input type="text" name="name"></pre><br>
enter your number : <input type="number" name="number"></pre><br>
            enter your password : <input name="password" type="password ">
        <input type="submit" value="submit form"></pre><br>
        </pre>
    </form>
</body>
</html> -->
<!DOCTYPE html> 
<html> 
	<head> 
		<title>Validation using Express-Validator</title> 
	</head> 
<body> 
<h1>Demo Form</h1> 

<form action="saveData" method="POST"> 
<pre> 
	Enter your Email : <input type="text" name="email"> <br> 
	Enter your Name	 : <input type="text" name="name"> <br> 
	Enter your Number : <input type="number" name="mobile"> <br> 
	Enter your Password : <input type="password" name="password"> <br> 
	<input type="submit" value="Submit Form"> 
</pre> 
</form> 

</body> 
</html>
